.outer-container {
    flex-grow: 1; /* Take up remaining space */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Full width */
  }
  
  .centered-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%; /* 90% width of the viewport */
    box-sizing: border-box;
  }
  
  .left-text,
  .right-text {
    font-size: 120px;
    font-weight: 800;
    font-family: forma-djr-display, sans-serif;
    font-style: italic;
    color: #f7f7f7;
  }
  
  .line {
    flex-grow: 1; /* Allow the line to grow and take up available space */
    height: 5px; /* Thickness of the line */
    background: #f7f7f7; /* Line color */
    margin: 0 20px; /* Space between the line and the text */
    margin-top: 30px;
    transition: 'transition-all 0.5s ease';
  }