body {
  margin: 0;
  padding: 0;
  background: #000;
}

html {
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
  overflow: hidden; /* Disable scrolling */
}

.main-content {
  flex-grow: 1; /* Fills the remaining vertical space */
}
